@model AsyncInn.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<h2>Edit</h2>

<h4>Room</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="ID" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Layout"></label>
        <select asp-for="Layout"></select>
        <span asp-validation-for="Layout"></span>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
