@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <nav>
        <h1>AsyncInn Administration</h1>
        <nav>
            <ul>
                <li><a href="~/Home/">Home</a></li>
                <li><a href="~/Hotels/">Hotels</a></li>
                <li><a href="~/HotelRooms/">Hotel Rooms</a></li>
                <li><a href="~/Rooms/">Room Styles</a></li>
                <li><a href="~/Amenities/">Amenities</a></li>
                <li><a href="~/RoomAmenities/">Room Amenities</a></li>
            </ul>
        </nav>
    </nav>
</body>